@import "tailwindcss";
@theme {
  /* Define the animation name and properties */
  --animate-gradient: gradient 8s linear infinite;

  /* Define the keyframes */
  @keyframes gradient {
    0%,
    100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}
html {
  scroll-behavior: smooth;
}
